.text-warning,
.text-success,
.text-danger {
  padding: 10px 25px;
}

.table {
  /* height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  overflow-y: auto; */

  /* position: relative; */

  /* overflow: scroll; */
}

tbody {
}
