body {
  margin-top: 150px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(209, 208, 208);
  overflow: hidden;
}

.container-login {
  padding: 50px;
  width: 500px;
  border-style: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  background-color: #fff;
}

h1 {
  text-align: center;
}

.error-output {
  text-align: center;
  font-style: italic;
}

.cont-btn {
  display: flex;
  justify-content: flex-end;
}

.btn {
  padding: 8px 25px;
  border-radius: 20px;
  background-color: #fd7e14;
  color: #fff;
}
